#imgPlace{
    display: block;
    margin: 0 auto;
    margin-top: 10%;
}

h1{
    text-align: center;
}

#content{
    margin-top: 6%;
    text-align: center;
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5rem; 
  background-color: purple;
  color: white;
}

#mode{
    display: block;
    float: right;
}

.dark-mode{
    background-color: black;
    color: white;
}

.light-mode{
    background-color: white;
    color: black;
}